.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title.todo {
  color: #6c757d;
}

.task-title.doing {
  color: #0d6efd; 
}

.task-title.done {
  color: #198754; 
  text-decoration: line-through;
  opacity: 0.7;
}
